.container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.formControl > input {
}

.formControl {
  position: relative;
  display: grid;
  gap: 6px;
  grid-auto-rows: min-content;
  & > * {
    outline: none;
  }

  & > :nth-child(2) {
    height: 35px;
    border: 1px solid rgb(218, 218, 218);
    padding-left: 10px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  & > textarea:nth-child(2) {
    height: 80px;
    resize: none;
  }
}

body:has(.container)::-webkit-scrollbar {
  display: none;
}

.container > main {
  display: grid;
  max-width: 500px;
  margin: 15px auto;
  padding: 0px 8px 40px;
}

.container > * {
}
.container > header {
  color: rgb(53, 53, 53);
  color: wheat;
  height: fit-content;

  p {
    text-align: center;
    max-width: 70vw;
  }
  h2 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 8px;
  width: 100%;
}

.form {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(2, 1fr);
  // grid-auto-rows: 35px;
}

.inputLarge {
  grid-column: 1 / -1;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  min-height: 60px;
  grid-column: 1 / -1;
}

.submitButton {
  grid-column: 1/-1;
}

.errorMessage {
  color: red;
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
}

.errorMessageBottom {
  color: red;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
}
// .submitButton:hover {
//   background: #000000;
// }

@media ((max-width: 1070px) and (min-width: 768px)) or (max-width: 485px) {
  .formContainer > *,
  .formContainer > .formControl {
    grid-column: span 2;
  }
  .errorMessageBottom {
    position: absolute;
    right: 0;
    top: 5px;
  }
}
@media ((max-width: 1000px) and (min-width: 768px)) or (max-width: 395px) {
  .errorMessage,
  .errorMessageBottom {
    position: relative;
    padding: 0;
    left: 0;
    right: auto;
    top: -5px;
  }
}

@media (max-width: 501px) {
  .form {
    gap: 8px;
    grid-template-columns: 1fr;
    min-width: 85vw;
  }
  .container > header {
    padding-left: 12px;
    padding-right: 12px;
  }
}
