.bg4287f5 {
  background-color: #4287f5;
  color: white;
}

.bgdde3a3 {
  background-color: #dde3a3;
  color: black;
}
.bg545451 {
  background-color: #545451;
  color: white;
}
.bga1514a {
  background-color: #a1514a;
  color: white;
}

.bg82878f {
  background-color: #82878f;
  color: white;
}
